.next/
node_modules/

dist/
build/
out/
coverage/

.vercel/
.localappdata/
.logs/
.volta/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

tsconfig.tsbuildinfo
.next-*.log
debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.vercel
